<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<%= form_tag("/store/search", method: "get", id: 'search_form') do %>
  <%= label_tag(:q, "Search product:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>

<h1>Your Pragmatic Catalog</h1>
<div id="products_container">
  <% @products.each do |product| %>
    <%= render product  %> 
  <% end %>
</div>